<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovest.dao.I_Reply_Dao">
	<!-- 주제 댓글 입력하기 쿼리 -->
	<insert id="topic_reply_save" parameterType="java.util.HashMap">
		INSERT INTO sp_topic_replyboard(
		sp_topic_reply_topicRcdno,
		sp_topic_reply_parentRcdno,
		sp_topic_reply_depth,
		sp_topic_reply_content,
		sp_topic_reply_writer
		) VALUES (
		#{tvtopic_rcdno},
		#{parent_rcdno},
		#{depth},
		#{content},
		#{writer}
		)
	</insert>
	<update id="topicReply_delete">
		UPDATE sp_topic_replyboard SET sp_topic_reply_content='해당 댓글 내용은 삭제처리가 되었습니다.' where sp_topic_reply_rcdno = #{topicReply_rcdno}
	</update>


	<!-- 주제댓글 추천 및 신고 쿼리 -->
	<insert id="topic_reply_recommend_process" parameterType="java.util.HashMap">
		INSERT INTO sp_topic_replyboard_recommend(
		topic_replyboard_recom_replyRcdno,
		topic_replyboard_recom_type,
		topic_replyboard_recom_bywhom
		) VALUES (
		#{sp_topic_reply_rcdno},
		#{recom_type},
		#{bywhom}
		)
	</insert>
		<!-- 주제댓글 추천 및 신고 쿼리 -->
	<select id="topic_reply_recommend_already" resultType="int">
		SELECT
		count(topic_replyboard_recom_rcdno)
		FROM
		sp_topic_replyboard_recommend WHERE topic_replyboard_recom_replyRcdno = #{sp_topic_reply_rcdno} 
		AND topic_replyboard_recom_type = #{recom_type} AND 
		topic_replyboard_recom_bywhom = #{bywhom}
	</select>
	
	

	<!-- 주제댓글 추천 및 신고 쿼리 -->
	<insert id="opinion_reply_recommend_process" parameterType="java.util.HashMap">
		INSERT INTO sp_opinion_replyboard_recommend(
		opinion_replyboard_recom_replyRcdno,
		opinion_replyboard_recom_type,
		opinion_replyboard_recom_bywhom
		) VALUES (
		#{opinion_reply_rcdno},
		#{recom_type},
		#{bywhom}
		)
	</insert>
	<!-- 주제댓글 추천 및 신고 쿼리 -->
	<select id="opinion_reply_recommend_already" resultType="int">
		SELECT
		count(opinion_replyboard_recom_rcdno)
		FROM
		sp_opinion_replyboard_recommend WHERE opinion_replyboard_recom_replyRcdno = #{opinion_reply_rcdno} 
		AND opinion_replyboard_recom_type = #{recom_type} AND 
		opinion_replyboard_recom_bywhom = #{bywhom}
	</select>



	<select id="counting_thumbup_topicReply" resultType="int">
		SELECT
		count(topic_replyboard_recom_rcdno)
		FROM
		sp_topic_replyboard_recommend
		WHERE
		topic_replyboard_recom_type = 'thumbup' AND
		topic_replyboard_recom_replyRcdno = #{reply_rcdno}
	</select>
	<select id="counting_warning_topicReply" resultType="int">
		SELECT
		count(topic_replyboard_recom_rcdno)
		FROM
		sp_topic_replyboard_recommend
		WHERE
		topic_replyboard_recom_type = 'warning' AND
		topic_replyboard_recom_replyRcdno = #{reply_rcdno}
	</select>
	<!-- 주제 댓글 추천 및 신고 후 업데이트 -->
	<update id="update_topicReply_recommend" parameterType="java.util.HashMap">
		UPDATE sp_topic_replyboard SET
		sp_topic_reply_warning =
		#{warning_total},
		sp_topic_reply_thumbup= #{thumbup_total}
		WHERE
		sp_topic_reply_rcdno=#{reply_rcdno}
	</update>

	<!-- 주제 댓글 추천 및 신고 후 업데이트 -->
	<update id="update_opinionReply_recommend" parameterType="java.util.HashMap">
		UPDATE sp_opinion_replyboard SET
		sp_opinion_reply_warning =
		#{warning_total},
		sp_opinion_reply_thumbup= #{thumbup_total}
		WHERE
		sp_opinion_reply_rcdno=#{reply_rcdno}
	</update>




	<select id="get_All_topic_reply" resultMap="TvTopicReplysWithUserInfo" parameterType="java.util.HashMap">
		SELECT
		*
		FROM
		sp_topic_replyboard WHERE sp_topic_reply_topicRcdno = #{topic_rcdno} ORDER BY sp_topic_reply_rcdno desc
	</select>
	<!-- writerUserInfo를 가진 새로운 select쿼리문 시작 -->
	<resultMap id="TvTopicReplysWithUserInfo" type="com.innovest.dto.tvTopicReply_DTO">
		<collection property="writer_infomation" column="sp_topic_reply_writer" select="select_userInfo" />
	</resultMap>
	<select id="select_userInfo" resultType="com.innovest.dto.userDTO">
		select * from sp_users where rcdno = #{sp_topic_reply_writer}
	</select>
	<!-- writerUserInfo를 가진 새로운 select쿼리문 끝 -->


	<!-- 의견_추천 및 세기 -->
	<select id="counting_thumbup_opinionReply" resultType="int">
		SELECT
		count(opinion_replyboard_recom_rcdno)
		FROM
		sp_opinion_replyboard_recommend
		WHERE
		opinion_replyboard_recom_type = 'thumbup' AND
		opinion_replyboard_recom_replyRcdno = #{opinion_reply_rcdno}
	</select>
	<select id="counting_warning_opinionReply" resultType="int">
		SELECT
		count(opinion_replyboard_recom_rcdno)
		FROM
		sp_opinion_replyboard_recommend
		WHERE
		opinion_replyboard_recom_type = 'warning' AND
		opinion_replyboard_recom_replyRcdno = #{opinion_reply_rcdno}
	</select>
	<!-- 의견_ 댓글 입력하기 쿼리 -->
	<insert id="opinion_reply_save" parameterType="java.util.HashMap">
		INSERT INTO sp_opinion_replyboard(
		sp_opinion_reply_opinionRcdno,
		sp_opinion_reply_parentRcdno,
		sp_opinion_reply_depth,
		sp_opinion_reply_content,
		sp_opinion_reply_writer
		) VALUES (
		#{opinion_rcdno},
		#{parent_rcdno},
		#{depth},
		#{content},
		#{writer}
		)
	</insert>
	<update id="opinionReply_delete">
		UPDATE sp_opinion_replyboard SET sp_opinion_reply_content='해당 댓글 내용은 삭제처리가 되었습니다.' where sp_opinion_reply_rcdno = #{opinionReply_rcdno}
	</update>


</mapper>

